body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_contact3LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/YAW299.FEAT_ocean_clean_up.m58ndc-630x354.png');
   background-repeat: repeat;
   background-position: left top;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#contact3LayoutGrid1
{
   box-sizing: border-box;
   padding: 100px 0 70px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#contact3LayoutGrid1 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#contact3LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#contact3LayoutGrid1 > .row > .col-1
{
   float: left;
}
#contact3LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#contact3LayoutGrid1:before,
#contact3LayoutGrid1:after,
#contact3LayoutGrid1 .row:before,
#contact3LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#contact3LayoutGrid1:after,
#contact3LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contact3LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_contact3Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 50px 0 ;
   padding: 0;
   text-align: center;
}
#contact3Heading
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 64px;
   margin: 0;
   text-align: center;
   text-transform: none;
   text-shadow: 2px -3px 2px rgba(0,0,0,0.50);
}
#wb_contact3LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#contact3LayoutGrid2
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#contact3LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact3LayoutGrid2 > .row > .col-1, #contact3LayoutGrid2 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contact3LayoutGrid2 > .row > .col-1, #contact3LayoutGrid2 > .row > .col-2
{
   float: left;
}
#contact3LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#contact3LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#contact3LayoutGrid2:before,
#contact3LayoutGrid2:after,
#contact3LayoutGrid2 .row:before,
#contact3LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#contact3LayoutGrid2:after,
#contact3LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contact3LayoutGrid2 > .row > .col-1, #contact3LayoutGrid2 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_contact3Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 200px;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: left;
}
#contact3Card2-card-body
{
   padding: 30px 30px 30px 30px;
   flex: 1 1 auto;
   font-size: 0;
}
#contact3Card2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
}
#contact3Card2-card-item1
{
   box-sizing: border-box;
   margin: 10px 0 0 0 ;
   padding: 0;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
}
#wb_contact3Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 200px;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: left;
}
#contact3Card3-card-body
{
   padding: 30px 30px 30px 30px;
   flex: 1 1 auto;
   font-size: 0;
}
#contact3Card3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
}
#contact3Card3-card-item1
{
   box-sizing: border-box;
   margin: 10px 0 0 0 ;
   padding: 0;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
}
#contact3Card3-card-item2
{
   box-sizing: border-box;
   margin: 10px 0 0 0 ;
   padding: 0;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 20px;
}
#wb_contact3Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 200px;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-clip: padding-box;
   background-image: linear-gradient(to top, #FFFFFF 0%, #FFFFFF 100%);
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: left;
}
#contact3Card1-card-body
{
   padding: 30px 30px 30px 30px;
   flex: 1 1 auto;
   font-size: 0;
}
#contact3Card1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
}
#contact3Card1-card-item1
{
   box-sizing: border-box;
   margin: 10px 0 0 0 ;
   padding: 0;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
}
#wb_contact3Card4
{
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 200px;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: left;
}
#contact3Card4-card-body
{
   padding: 30px 30px 30px 30px;
   flex: 1 1 auto;
   font-size: 0;
}
#contact3Card4-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
}
#contact3Card4-card-item1
{
   box-sizing: border-box;
   margin: 10px 0 0 0 ;
   padding: 0;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
}
#wb_Icon8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_Icon8 a
{
   text-decoration: none;
}
#wb_Icon8 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#Icon8
{
   height: 23px;
   width: 33px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#Icon8 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 23px;
   line-height: 23px;
   vertical-align: middle;
}
#wb_Icon8:hover #Icon8 i
{
   color: #000000;
}
#wb_footer7LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #232323;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footer7LayoutGrid
{
   box-sizing: border-box;
   padding: 50px 0 50px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#footer7LayoutGrid > .row
{
   margin-right: 0;
   margin-left: 0;
}
#footer7LayoutGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#footer7LayoutGrid > .row > .col-1
{
   float: left;
}
#footer7LayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#footer7LayoutGrid:before,
#footer7LayoutGrid:after,
#footer7LayoutGrid .row:before,
#footer7LayoutGrid .row:after
{
   display: table;
   content: " ";
}
#footer7LayoutGrid:after,
#footer7LayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footer7LayoutGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_footer7Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 30px 0 0 0 ;
   text-align: center;
}
#wb_footer7Text
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 20px;
   line-height: 22.5px;
}
#wb_footer7Text p, #wb_footer7Text ul
{
   margin: 0;
   padding: 0;
}
#wb_footer7Text
{
   display: block;
   margin: 30px 0 0 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_footer7Menu
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0 0 20px 0 ;
   text-align: center;
   position: relative;
   z-index: 1111 !important;
}
#wb_footer7Menu::after
{
   content: "";
   display: table;
clear: both;
}
#wb_footer7Menu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
    font-size: 0;
   position: relative;
   display: inline-block;
}
#wb_footer7Menu li
{
   display: inline-block;
   margin: 0;
   padding: 0px 4px 0px 0px;
}
#wb_footer7Menu a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #0D6EFD;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 24px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_footer7Menu > ul > li > a
{
   height: 24px;
   line-height: 24px;
   padding: 0px 10px 0px 10px;
}
#wb_footer7Menu li:hover a, #wb_footer7Menu a:hover
{
   color: #FFFFFF;
   border: 0px solid #0A58CA;
   background-color: transparent;
   background-image: none;
}
#wb_footer7Menu li.firstmain
{
   padding-left: 0px;
}
#wb_footer7Menu li.lastmain
{
   padding-right: 0px;
}
#wb_footer7Menu br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_footer7Icon1
{
   background-color: #EDEFEB;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 50%;
   text-align: center;
   margin: 4px 4px 4px 4px;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#footer7Icon1
{
   height: 24px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#footer7Icon1 i
{
   color: #212529;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
}
#wb_footer7Icon1:hover #footer7Icon1 i
{
   color: #212529;
}
#wb_footer7Icon2
{
   background-color: #EDEFEB;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 50%;
   text-align: center;
   margin: 4px 4px 4px 4px;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#footer7Icon2
{
   height: 24px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#footer7Icon2 i
{
   color: #212529;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
}
#wb_footer7Icon2:hover #footer7Icon2 i
{
   color: #212529;
}
#wb_footer7Icon3
{
   background-color: #EDEFEB;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 50%;
   text-align: center;
   margin: 4px 4px 4px 4px;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#footer7Icon3
{
   height: 24px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#footer7Icon3 i
{
   color: #212529;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
}
#wb_footer7Icon3:hover #footer7Icon3 i
{
   color: #212529;
}
#wb_footer7Icon4
{
   background-color: #EDEFEB;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 50%;
   text-align: center;
   margin: 4px 4px 4px 4px;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#footer7Icon4
{
   height: 24px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#footer7Icon4 i
{
   color: #212529;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
}
#wb_footer7Icon4:hover #footer7Icon4 i
{
   color: #212529;
}
