body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_menu12LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(255,255,255,0.80);
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#menu12LayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#menu12LayoutGrid > .col-1, #menu12LayoutGrid > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#menu12LayoutGrid > .col-1, #menu12LayoutGrid > .col-2
{
   flex: 0 0 auto;
}
#menu12LayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 25%;
   max-width: 25%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#menu12LayoutGrid > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 75%;
   max-width: 75%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 768px)
{
#menu12LayoutGrid > .col-1, #menu12LayoutGrid > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#menu12Logo
{
   list-style: none;
   padding: 8px 15px 8px 15px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#menu12Logo > li
{
   display: inline-block;
   font-size: 24px;
   text-transform: none;
}
#menu12Logo a
{
   color: #4F4F4F;
   text-decoration: none;
}
#menu12Logo a:hover
{
   color: #3E571C;
   text-decoration: none;
}
#menu12Logo > .active
{
   color: #3E571C;
}
#menu12Logo > .active a
{
   color: inherit;
   pointer-events: none;
}
#menu12Logo > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
.menu12Menu .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   font-style: normal;
   color: #4F4F4F;
   text-align: left;
   text-transform: none;
}
#menu12Menu, .menu12Menu .nav, .menu12Menu *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.menu12Menu .nav:before,
.menu12Menu .nav:after 
{
   content: " ";
   display: table;
}
.menu12Menu .nav:after 
{
   clear: both;
}
.menu12Menu .nav a 
{
   text-decoration: none;
}
.menu12Menu .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.menu12Menu .nav ul ul
{
   margin-bottom: 0;
}
.menu12Menu .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.menu12Menu .container:before,
.menu12Menu .container:after 
{
   content: " ";
   display: table;
}
.menu12Menu .container:after 
{
   clear: both;
}
.menu12Menu .collapse 
{
   display: none;
}
.menu12Menu .collapse.show 
{
   display: block;
}
.menu12Menu .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.menu12Menu .arrow, .menu12Menu .arrow-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.menu12Menu .dropdown 
{
   position: relative;
}
.menu12Menu .dropdown-toggle:focus 
{
   outline: 0;
}
.menu12Menu .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 19px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(255,255,255,1.00);
   border-radius: 6px;
   background-clip: padding-box;
}
.menu12Menu .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.menu12Menu .dropdown-menu > li > a
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #4F4F4F;
   text-transform: none;
   white-space: nowrap;
}
.menu12Menu .dropdown-menu > li > a:hover,
.menu12Menu .dropdown-menu > li > a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.menu12Menu .dropdown-menu > li > a.active,
.menu12Menu .dropdown-menu > li > a.active:hover,
.menu12Menu .dropdown-menu > li > a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.menu12Menu .show > .dropdown-menu
{
   display: block;
}
.menu12Menu .show > a
{
   outline: 0;
}
.menu12Menu .dropdown-header
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.menu12Menu .dropdown-backdrop
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.menu12Menu .dropdown.show .dropdown-menu
{
   animation-name: menu12Menu-animation;
   animation-duration: 500ms;
   animation-iteration-count: 1;
   animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
   animation-fill-mode: forwards;
}
@keyframes menu12Menu-animation
{
   0%
   {
      opacity: 0;
      transform: translateY(-10px);
   }
   100%
   {
      opacity: 1;
      transform: translateY(0);
   }
}
.menu12Menu .nav > li 
{
   position: relative;
   display: block;
}
.menu12Menu .nav > li > a
{
   position: relative;
   display: block;
   padding: 15px 15px 15px 15px;
}
.menu12Menu .nav .show > a,
.menu12Menu .nav .show > a:hover,
.menu12Menu .nav .show > a:focus
{
    border-color: #343A40;
}
.menu12Menu .nav .nav-divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.menu12Menu .nav .arrow
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.menu12Menu
{
   position: relative;
}
.menu12Menu:before,
.menu12Menu:after
{
   content: " ";
   display: table;
}
.menu12Menu:after
{
   clear: both;
}
.menu12Menu .navbar-header:before,
.menu12Menu .navbar-header:after
{
   content: " ";
   display: table;
}
.menu12Menu .navbar-header:after
{
   clear: both;
}
.menu12Menu-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.menu12Menu-navbar-collapse:before,
.menu12Menu-navbar-collapse:after
{
   content: " ";
   display: table;
}
.menu12Menu-navbar-collapse:after
{
   clear: both;
}
.menu12Menu-navbar-collapse.show
{
   overflow-y: auto;
}
.menu12Menu .navbar-toggle 
{
   position: relative;
   float: right;
   width: 52px;
   height: 52px;
   padding: 15px 15px 15px 15px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 6px;
}
.menu12Menu .navbar-toggle .line
{
   display: block;
   width: 22px;
   height: 4px;
   border-radius: 0px;
   transition: all 500ms linear;
}
.menu12Menu .navbar-toggle .line
{
   margin: 4px auto;
}
.menu12Menu .navbar-toggle  .line:first-child
{
   margin-top: 0px !important;
}
.menu12Menu .navbar-nav
{
   margin: 6px -15px;
}
.menu12Menu .navbar-nav > li > .dropdown-menu
{
   margin-top: 0;
}
.menu12Menu .navbar-nav > li > a
{
   color: #4F4F4F;
}
.menu12Menu .navbar-nav > li > a:hover,
.menu12Menu .navbar-nav > li > a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.menu12Menu .navbar-nav > li > a.active,
.menu12Menu .navbar-nav > li > a.active:hover,
.menu12Menu .navbar-nav > li > a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.menu12Menu .navbar-toggle
{
   border: 1px solid transparent;
}
.menu12Menu .navbar-toggle:hover,
.menu12Menu .navbar-toggle:focus
{
   background-color: transparent;
}
.menu12Menu .navbar-toggle .line
{
   background-color: #4F4F4F;
}
.menu12Menu-navbar-collapse
{
   border-color: rgba(255,255,255,1.00);
}
.menu12Menu .navbar-nav > .dropdown > a:hover .arrow,
.menu12Menu .navbar-nav > .dropdown > a:focus .arrow
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.menu12Menu .navbar-nav > .show > a,
.menu12Menu .navbar-nav > .show > a:hover,
.menu12Menu .navbar-nav > .show > a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.menu12Menu .navbar-nav > .show > a .arrow,
.menu12Menu .navbar-nav > .show > a:hover .arrow,
.menu12Menu .navbar-nav > .show > a:focus .arrow
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.menu12Menu .navbar-nav > .dropdown > a .arrow
{
   border-top-color: #4F4F4F;
   border-bottom-color: #4F4F4F;
}
.menu12Menu .navbar-link
{
   color: #4F4F4F;
}
.menu12Menu .navbar-link:hover
{
   color: #2B2B2B;
}
.menu12Menu .navbar-header
{
   color: #4F4F4F;
}
@media (min-width: 480px) 
{
.menu12Menu .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.menu12Menu .navbar-header
{
   float: left;
}
.menu12Menu-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.menu12Menu-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.menu12Menu-navbar-collapse.show
{
   overflow-y: auto;
}
.menu12Menu .navbar-toggle
{
   display: none;
}
.menu12Menu .navbar-nav
{
   float: right;
   margin: 0;
}
.menu12Menu .navbar-nav > li
{
   float: left;
}
.menu12Menu .container > .navbar-header,
.menu12Menu .container > .menu12Menu-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.menu12Menu .navbar-nav > .dropdown > a:hover .arrow,
.menu12Menu .navbar-nav > .dropdown > a:focus .arrow
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
}
@media (max-width: 480px) 
{
.menu12Menu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
}
.menu12Menu .navbar-nav
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.menu12Menu .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.menu12Menu .navbar-nav .show .dropdown-menu > li > a,
.menu12Menu .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 15px;
}
.menu12Menu .navbar-nav .show .dropdown-menu > li > a
{
   line-height: 20px;
}
}
@media (min-width: 480px) 
{
.menu12Menu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 6px;
}
.menu12Menu .navbar-nav > li > a
{
   color: #4F4F4F;
}
.menu12Menu .navbar-nav > li > a:hover,
.menu12Menu .navbar-nav > li > a:focus
{
   color: #007BFF;
   background-color: transparent;
   background-image: none;
}
.menu12Menu .navbar-nav > li > a.active,
.menu12Menu .navbar-nav > li > a.active:hover,
.menu12Menu .navbar-nav > li > a.active:focus
{
   color: #007BFF;
   background-color: transparent;
   background-image: none;
}
.menu12Menu .navbar-nav > .show > a,
.menu12Menu .navbar-nav > .show > a:hover,
.menu12Menu .navbar-nav > .show > a:focus
{
   background-color: transparent;
   background-image: none;
   color: #007BFF;
}
.menu12Menu .navbar-nav > .dropdown > a:hover .arrow
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.menu12Menu .navbar-nav > .dropdown > a .arrow
{
   border-top-color: #4F4F4F;
   border-bottom-color: #4F4F4F;
}
.menu12Menu .navbar-nav > li > a.active > .arrow,
.menu12Menu .navbar-nav > li > a.active:hover > .arrow,
.menu12Menu .navbar-nav > li > a.active:focus > .arrow
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.menu12Menu .navbar-nav > .show > a .arrow,
.menu12Menu .navbar-nav > .show > a:hover .arrow,
.menu12Menu .navbar-nav > .show > a:focus .arrow
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.menu12Menu .navbar-link
{
   color: #4F4F4F;
}
.menu12Menu .navbar-link:hover 
{
   color: #fff;
}
}
.menu12Menu .navbar-nav > li:first-child > a
{
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
}
.menu12Menu .dropdown-menu > li:last-child > a
{
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}
#menu12Menu i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_menu12Menu
{
   z-index: 1111 !important;
}
#wb_list6LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #EDEFEB;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#list6LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 100px 0 100px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 800px;
}
#list6LayoutGrid1 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#list6LayoutGrid1 > .col-1
{
   flex: 0 0 auto;
}
#list6LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 768px)
{
#list6LayoutGrid1 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_list6LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#list6LayoutGrid2
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 50px 0 50px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 800px;
}
#list6LayoutGrid2 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 35px;
   padding-left: 35px;
   position: relative;
}
#list6LayoutGrid2 > .col-1
{
   flex: 0 0 auto;
}
#list6LayoutGrid2 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 768px)
{
#list6LayoutGrid2 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_list6Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 15px 30px 15px;
   padding: 0;
   text-align: left;
}
#list6Heading
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 64px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_list6Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0 0 25px 15px;
   text-align: left;
}
#wb_list6Text
{
   color: #000000;
   font-family: Arial;
   font-weight: 400;
   font-size: 20px;
   line-height: 22.5px;
}
#wb_list6Text p, #wb_list6Text ul
{
   margin: 0;
   padding: 0;
}
#wb_list6Text
{
   display: block;
   margin: 0 0 25px 15px;
   box-sizing: border-box;
   width: calc(100% - 15px);
}
#list6Table
{
   border-radius: 0px;
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 0px;
   margin: 0;
}
#list6Table td, #list6Table th
{
   padding: 15px 15px 15px 15px;
}
#list6Table td div
{
   white-space: nowrap;
}
#list6Table p, #list6Table ul
{
   margin: 0;
   padding: 0;
}
#list6Table .cell0
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   line-height: 22.5px;
}
#list6Table .cell1
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   color: #000000;
   font-family: Arial;
   font-size: 19px;
   line-height: 21px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
